# aliases, functions and settings which are 
# useful just about everywhere (for me)
#
# Steven E. Pav

export GREP_OPTIONS='--color=auto'

# find by extension and print. very useful.
# fex R finds all R files.
fex() {
  find . -name '*.'$1 -type f -print
}

alias lsh='ls -AlhS'
alias lst='ls -Alht'
alias lsth='ls -Alht | head -n 8'

# R install on the command line. slick.
rinstall() {
	INSTALLR=${HOME}/bin/install3.r
	TAILARGS='-- --with-keep.source'
	if [ ! -f "$INSTALLR" ]; then
		TAILARGS=''
		INSTALLR=/usr/share/doc/littler/examples/install2.r
	fi
	if [ ! -f "$INSTALLR" ]; then
		INSTALLR=/usr/lib/R/site-library/littler/examples/install2.r
	fi
	if [ ! -f "$INSTALLR" ]; then
		INSTALLR=$(locate install2.r)
	fi
	if [ ! -f "$INSTALLR" ]; then
		set -o errexit
		set -o pipefail
		set -o errtrace
		>&2 echo "install2.r not found" 
		exit 1
	fi

	sudo r $INSTALLR -r http://CRAN.rstudio.com/ \
		-r http://shabbychef.github.io/drat/ \
		-r http://eddelbuettel.github.io/drat \
		-r http://ghrr.github.io/drat \
		-r file:///srv/rsync/shares/lran \
		$TAILARGS $@ 
}

alias dc='docker-compose'
alias dcr='docker-compose run'
alias dcrr='docker-compose run --rm'

# vim:ts=2:sw=2:tw=79:fdm=marker:fmr=FOLDUP,UNFOLD:cms=#%s:syn=sh:ft=sh:ai:si:cin:nu:fo=croql:cino=p0t0c5(0:
